<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png" >   {{!-- To set the tab icon for weather page --}}
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        {{!-- <h1>{{title}}</h1> --}}
       <div class="main-content">
            {{>header}}
            <img class='portrait'src="/img/mine.jpg">
       </div>
      
        {{>footer}}
    </body>
</html>